
# Core Streamlit application
streamlit

# LangChain and LLM Dependencies
#langchain
#langchain-community
langchain-google-genai
langchain-experimental
langchainhub
google-genai
groq # If you use Groq as an alternative LLM

# Data Processing and Embedding
youtube-transcript-api==1.2.2
pypdf
fpdf2
#sentence-transformers
langchain-chroma

# Utility/Helper Packages
python-dotenv
gtts
requests
transformers
rapidocr-onnxruntime

langchain==0.0.354
langchain-community==0.0.38
langchain-core==0.1.52
sentence-transformers==2.2.2
huggingface-hub==0.20.0